<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>AustinSocialMediaServlet</display-name>
  <servlet>
    <servlet-name>AustinSocialMediaServlet</servlet-name>
    <servlet-class>AustinSocialMediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AustinSocialMediaServlet</servlet-name>
    <url-pattern>/austinsocialmedia</url-pattern>
  </servlet-mapping>
</web-app>